{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" ng-controller="OauthController as oauth">
        <h1 class="text-center">Закрытый клуб культистов SYMFONY-поклонников</h1>
        <div class="form-signin">
            <h2 class="form-signin-heading">Регистрация</h2>
            <label>Аккаунт "{{ vk.user }}"</label>
            <button class="btn btn-lg btn-block btn-primary" ng-click="oauth.onRegister()">Регистрация</button>
        </div>
    </div> <!-- /container -->
{% endblock %}