{% extends 'templates/user.html.twig' %}

{% block body %}
    <link href="{{ asset('css/profile.css') }}" rel="stylesheet"/>

    <div class="jumbotron">
        <h1>Профиль</h1>
        <p class="lead">Тут вы можете изменить отображаемое ваше имя, связать вашу учётную запись с социальными сетями и подать заявку на роль модератора.</p>
    </div>

    <form class="container" ng-controller="ProfileController as profile">
        <div class="row">
            <label>
                <span>Email</span>
                <input type="email">
            </label>
        </div>
        <div class="row">
            <label>
                <span>Имя</span>
                <input type="text">
            </label>
        </div>
        <div class="row">
            <label>
                <span>Соц сети</span>
                <button class="btn btn-default">vk</button>
                <button class="btn btn-default">google</button>
            </label>
        </div>
        <div class="row buttons">
            <input class="btn btn-success" type="submit" value="Сохранить изменения">
            <button class="btn btn-default">Сменить пароль</button>
            <button class="btn btn-default">Запросить роль модератора</button>
        </div>
    </form> <!-- /container -->
{% endblock %}